/* Section Slider */
section.About {
  padding: 10px;
  background: url('../img/about-background.webp') no-repeat;
  background-size: cover;
  background-position: 20% 74%;
} 
section.About .about-container {
  position: relative;
  max-width: 1400px;   
  min-height: 80vh;
  display: flex;
  z-index: 1;
}
section.About .text-wrapper {
  width: 100%;
  margin: 3% 0 0 10%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
section.About .section-title {
  max-width: 55%;
  font-size: 50px;
  margin-top: 50px;
  color: #fff;
  text-shadow: 0 5px 3px #000;
}
section.About .section-text {
  max-width: 45%;
  margin-top: 15px;
  color: #fff;
  text-shadow: 0 5px 3px #000;
}
section.About .section-small-text {
  color: #000;
  margin: auto 5px 0 auto;
  font-size: 16px;
  text-shadow: 0 5px 3px #fff;
}
@media screen and (max-width: 1024px) {
  /* About section */
  section.About .about-container {
    max-width: 100%;
    min-height: calc(120vh - var(--mobile-header-height) - var(--mobile-footer-height));
  }
  section.About .text-wrapper {
    max-width: 100%;
    margin-right: 20px;
  }
  section.About .text-wrapper .section-title {
    font-size: 30px;
    max-width: 60%;
  }
  section.About .text-wrapper .section-text {
    margin-top: 30px;
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  /* About section */
  section.About {
    background-position: 25%;
  }
  section.About .text-wrapper .section-title {
    margin-top: 0;
    font-size: 25px;
    max-width: 80%;
    margin-bottom: 30%;
  }
  section.About .text-wrapper .section-text {
    font-size: 16px;
    max-width: 80%;
  }
}