/* Section Slider */
section.Contact {
  padding: 10px 3%;
  background: url('../img/contact-background.webp') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
} 
section.Contact .contact-container {
  max-width: 1400px;   
  position: relative;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
section.Contact .text-wrapper {
  margin-top: -10%;
  max-width: 30%;
  z-index: 1;
}
section.Contact .section-title {
    font-size: 50px;
    color: #fff;
    text-shadow: 0 5px 3px #000;
}
section.Contact .section-text {
    margin-top: 15px;
    color: #fff;
    text-shadow: 0 5px 3px #000;
    line-height: 2;
}
section.Contact .contact-form-wrapper {
  max-width: 70%;
}
section.Contact .contact-form-wrapper .contact-form {
    display: flex;
    flex-direction: column;
}
section.Contact .contact-form-wrapper .contact-form.hide {
  display: none;
}
section.Contact .contact-form-wrapper .contact-label {
    color: #fff;
    margin: 5px 0;
    padding-left: 5px;
    text-shadow: 0 1px 3px #000;
}
section.Contact .contact-form-wrapper .contact-input {
    border: none;
    color: #fff;
    text-shadow: 0 1px 3px #000;
    border-bottom: 1px solid #000;
    background: transparent;
    padding: 0 0 5px 5px;
    outline: none;
}
section.Contact .contact-form-wrapper .contact-input::placeholder,
section.Contact .contact-form-wrapper .contact-textarea::placeholder {
  color:rgba(255,255,255,0.8);
  text-shadow: 0 1px 3px #000;
}
section.Contact .contact-form-wrapper .contact-input:not(:placeholder-shown) {
  background: rgba(255,255,255,0.5);
}
section.Contact .contact-form-wrapper .contact-input:focus,
section.Contact .contact-form-wrapper .contact-textarea:focus {
    background: rgba(255,255,255,0.5);
}
section.Contact .contact-form-wrapper .contact-textarea {
    padding-left: 5px;
    background: transparent;
    color: #fff;
    text-shadow: 0 1px 3px #000;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    transition: 0.2s;
}
section.Contact .contact-form-wrapper .contact-button {
    margin-top: 10px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
    width: 140px;
    height: 45px;
}
section.Contact .contact-form-wrapper .contact-button:hover {
    opacity: 0.8;
    cursor: pointer;
}
/* Error message */
section.Contact .contact-form-wrapper .error-message {
  position: relative;
  padding: 5px 8px;
  background-color: rgba(255,255,255,0.8);
}
section.Contact .contact-form-wrapper .error-message > * {
  color: #000;
  font-size: 16px;
}
section.Contact .contact-form-wrapper .error-message:empty {
  display: none;
}
section.Contact .contact-form-wrapper .error-message:before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 4px;
  height: 100%;
  background-color: red;
}
/* Submit message */
section.Contact .contact-form-wrapper .submit-message {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
section.Contact .contact-form-wrapper .submit-message.show {
  display: flex;
}
section.Contact .contact-form-wrapper .submit-message > * {
  color:#fff;
  text-shadow: 0 1px 3px #000;
}
@media screen and (max-width: 1024px) {
    /* Contact section */
    section.Contact .contact-container { 
      max-width: 100%;
      flex-direction: column;
      min-height: calc(80vh - var(--mobile-header-height) - var(--mobile-footer-height));
    }
    section.Contact .text-wrapper {
      margin-right: 20px;
      margin-top: 0;
    }
    section.Contact .contact-form-wrapper {
        margin-top: 30px;
    }
    section.Contact .text-wrapper .section-title {
      font-size: 30px;
    }
    section.Contact .text-wrapper .section-text,
    section.Contact .contact-form-wrapper .contact-label,
    section.Contact .contact-form-wrapper .error-message,
    section.Contact .contact-form-wrapper .submit-message,
    section.Contact .contact-form-wrapper .contact-input::placeholder,
    section.Contact .contact-form-wrapper .contact-textarea::placeholder  {
      font-size: 18px;
    }
    section.Contact .text-wrapper .section-text {
      margin-top: 30px;
    }
    section.Contact .contact-form-wrapper .contact-button {
        width: 100px;
        height: 40px;
        font-size: 18px;
    }
  }
  @media screen and (max-width: 768px) {
    /* Contact section */
    section.Contact {
      background-position: 25%;
      min-height: auto;
      flex-direction: column;
      align-items: center;
    }
    section.Contact .text-wrapper {
      margin-top: 20px;
      max-width: 70%;
    }
    section.Contact .text-wrapper .section-title {
      font-size: 25px;
      text-align: center;
    }
    section.Contact .text-wrapper .section-text,
    section.Contact .contact-form .contact-label,
    section.Contact .contact-form-wrapper .error-message,
    section.Contact .contact-form-wrapper .submit-message,
    section.Contact .contact-form-wrapper .contact-button,
    section.Contact .contact-form-wrapper .contact-input::placeholder,
    section.Contact .contact-form-wrapper .contact-textarea::placeholder {
      font-size: 16px;
    }
  }