* {
  font-family: verdana;
  color: #000;
  font-size: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
body.popup-opened {
  overflow-y: hidden;
}
/* Mobile Header */
.mobile-header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 1;
}
.mobile-header .mobile-logo {
  position: relative;
  margin-left: 10px;
}
.mobile-header .mobile-logo-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 3px #fff;
}
.mobile-header .mobile-logo-text > span {
  font-size: 16px;
}
.mobile-header .mobile-logo i {
  margin-left: 50px;
  font-size: 30px;
  transform: translate(10%, -20%) rotate(15deg);
  z-index: -1;
}
.mobile-header .mobile-menu {
  cursor: pointer;
}
.mobile-header .mobile-menu i {
  font-size: 30px;
}
/* Header */
header {
  display: flex;
  flex-direction: column;
  padding: 0 20px 10px;
  z-index: 1;
}
.links-wrapper,
.links-wrapper .phone-number,
.links-wrapper .search-panel,
.links-wrapper .contact-us {
  display: flex;
  align-items: center;
}
.main-header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 10px 0 0;
}
.main-header .header-title,
footer .header-title {
  min-width: 40%;
  width: 40%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-header .header-title .title-text .title-capital {
  font-size: 28px;
}
.main-header .header-title .title-text .title-capital-b {
  font-size: 25px;
}
.main-header .header-title .title-text .title-capital-c {
  font-size: 22px;
}
.main-header .links-wrapper {
  margin: 0 0 0 auto;
  padding: 0;
}
.main-header .links-wrapper > * {
  margin: 0 10px;
}
.main-header .search-panel,
footer .search-panel {
  padding: 0 0 0 15px;
  margin: 0 0 0 15px;
  position: relative;
  justify-content: flex-end;
  cursor: pointer;
}
.main-header .search-panel .icon,
footer .search-panel .icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}
.main-header .search-panel .text,
footer .search-panel .text {
  margin-left: 15px;
}
.main-header .search-panel input,
footer .search-panel input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 0 0 5px 30px;
  outline: none;
}
.main-header .phone-number a,
.main-header .contact-us a,
footer .phone-number a, 
footer .contact-us a {
  margin-left: 5px;
  text-decoration: none;
}
header nav {
  margin-top: 20px;
  padding-left: 5%;
  width: 100%;
}
header nav > ul,
footer nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

header nav > ul li .nav-link {
  display: block;
  color: #000;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}
header nav > ul li .nav-link:first-child {
  padding-left: 0;
}
/* Hover Effect*/
.main-header .phone-number a:hover,
.main-header .contact-us a:hover,
header nav > ul li .nav-link:hover,
footer .phone-number a:hover,
footer .contact-us a:hover,
footer nav > ul li a:hover {
  opacity: 0.6;
}
header nav > ul li .nav-link.active {
  font-weight: 600;
}
.main-header .search-panel:hover .icon,
footer .search-panel:hover .icon {
  transform: translate(0, -50%) scale(1.1);
}
.main-header .phone-number:hover .icon,
.main-header .contact-us:hover .icon,
footer .phone-number:hover .icon,
footer .contact-us:hover .icon {
  transform: scale(1.1);
}

/* Transition Effect */
.main-header .search-panel .icon,
.main-header .phone-number .icon,
.main-header .contact-us .icon,
footer .search-panel .icon,
footer .phone-number .icon,
footer .contact-us .icon {
  transition: 0.2s;
  padding: 0 3px;
}
/* Animation */
.main-header .header-title-wrapper {
  margin-top: 20px;
  width: fit-content;
  position: relative;
}
.main-header .header-title-wrapper .title-icon {
  position: absolute;
  top: -22%;
  transform: translate(0%, -20%);
  transform: rotate(-15deg) translate(100%, 15%); 
  left: 82%;
  animation-name: Snowboarding;
  animation-duration: 4s;
}
.main-header .header-title-wrapper .title-icon i {
  font-size: 25px;
}
.hover-popup {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  z-index: 0;
}
.hover-popup.show {
  display: flex;
}
/* Keyframes */

@keyframes Snowboarding {
  0% { 
    transform: rotate(-5deg) translate(0%, -20%);
    left: 0%;
  }
  100% {  
    transform: rotate(-15deg) translate(100%, 15%); 
    left: 82%;
  }
}

/* Footer */

footer {
  background: #101010;
  padding: 50px 20px 20px;
  display: flex;
  flex-direction: column;
}
footer * {
  color: #fff;
}
footer .footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
footer .header-title {
  margin: 0 0 0 20px;
  width: 25%;
}
footer .header-title .title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .header-title .title-text > span {
  margin: 3px 0;
}
footer .copyright {
  font-size: 16px;
  margin: 50px 0 0 auto;
}
footer nav {
  width: 50%;
  display: flex;
  padding-left: 5%;
}
footer nav ul {
  display: flex;
  flex-direction: column;
}
footer nav ul li,
footer .links-wrapper > div {
  margin: 7px 0;
}
footer nav ul li > a {
  text-decoration: none;
}
footer .links-wrapper {
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}
/* Search popup */
.search-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.9);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  z-index: 2;
}
.search-popup.show {
  animation: SearchPopupShow 1.5s;
  display: flex;
}
.search-popup .search-popup-title {
  margin-top: 10%;
  font-size: 35px;
}
.search-popup .search-popup-input {
  margin-top: 10%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 25px;
  outline: none;
  padding: 10px 20px;
}
.search-popup .search-popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.search-popup .search-popup-close i {
  transition: 0.2s;
}
.search-popup .search-popup-close:hover i {
  text-shadow: 1px 1px 5px #000;
}
@keyframes SearchPopupShow {
  0% {
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Responsive - Tablet */
@media screen and (max-width:1024px) {
  .mobile-header {
    display: flex;
  }
  header {
    display: none;
  }
  header.show {
    display: flex;
    position: sticky;
    top: 70px;
    background-color: #fff;
  }
  .main-header, 
  .main-header nav ul {
    flex-direction: column;
    align-items: center;
  }
  .main-header .header-title {
    display: none;
  }
  .main-header .links-wrapper {
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 0;
    order: 2;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000;
    width: 100%;
    flex-wrap: wrap;
  }
  .main-header .links-wrapper > div {
    margin: 10px 15px;
  }
  .main-header nav {
    padding-left: 0;
    order: 1;
  }
  footer {
    padding: 0;
  }
  footer .footer-wrapper {
    padding: 20px;
    flex-direction: column;
  }
  footer .footer-wrapper .header-title {
    margin-left: 0;
    min-width: auto;
    width: auto;
  }
  footer .footer-wrapper nav {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    padding-left: 0;
    justify-content: center;
  }
  footer .footer-wrapper .links-wrapper {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    align-items: center;
  }
  footer .copyright {
    font-size: 16px;
    padding: 10px 20px;
  }
  /* Search popup */
  .search-popup .search-popup-title {
    margin-top: 20%;
    font-size: 20px;
  }
  .search-popup .search-popup-input {
    margin-top: 20%;
    font-size: 18px;
  }
  .search-popup .search-popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .search-popup .search-popup-close i {
    transition: 0.2s;
  }
}