* {
  font-family: verdana;
  color: #000;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
}
/* Header */
header {
  display: flex;
  flex-direction: column;
  padding: 0 20px 10px;
}
.links-wrapper,
.links-wrapper .phone-number,
.links-wrapper .search-panel,
.links-wrapper .contact-us {
  display: flex;
  align-items: center;
}
.main-header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 10px 0 20px;
}
.main-header .header-title,
footer .header-title {
  min-width: 40%;
  width: 40%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-header .header-title .title-text .title-capital {
  font-size: 28px;
}
.main-header .header-title .title-text .title-capital-b {
  font-size: 25px;
}
.main-header .header-title .title-text .title-capital-c {
  font-size: 22px;
}
.main-header .links-wrapper {
  width: 60%;
  margin: 0 0 0 auto;
  padding: 0;
}
.main-header .links-wrapper > * {
  margin: 0 10px;
}
.main-header .search-panel,
footer .search-panel {
  padding: 0 15px;
  position: relative;
}
.main-header .search-panel form,
footer .search-panel form {
  width: 10%;
}
.main-header .search-panel span,
footer .search-panel span {
  position: absolute;
  top: 40%;
  left: 15px;
  transform: translate(0%, -50%);
}
.main-header .search-panel input,
footer .search-panel input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 0 0 5px 30px;
  outline: none;
}
.main-header .phone-number a,
.main-header .contact-us a,
footer .phone-number a, 
footer .contact-us a {
  margin-left: 5px;
  text-decoration: none;
}
header nav {
  padding-left: 5%;
}
header nav > ul,
footer nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

header nav > ul li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}
header nav > ul li a:first-child {
  padding-left: 0;
}
/* Hover Effect*/
.main-header .phone-number a:hover,
.main-header .contact-us a:hover,
header nav > ul li a:hover,
footer .phone-number a:hover,
footer .contact-us a:hover,
footer nav > ul li a:hover {
  opacity: 0.6;
}
.main-header .search-panel:hover .icon,
footer .search-panel:hover .icon {
  transform: translate(0, -50%) scale(1.1);
}
.main-header .phone-number:hover .icon,
.main-header .contact-us:hover .icon,
footer .phone-number:hover .icon,
footer .contact-us:hover .icon {
  transform: scale(1.1);
}

/* Transition Effect */
.main-header .search-panel .icon,
.main-header .phone-number .icon,
.main-header .contact-us .icon,
footer .search-panel .icon,
footer .phone-number .icon,
footer .contact-us .icon {
  transition: 0.2s;
  padding: 0 3px;
}
/* Animation */
.main-header .header-title-wrapper {
  margin-top: 20px;
  width: fit-content;
  position: relative;
}
.main-header .header-title-wrapper .title-icon {
  position: absolute;
  top: -15%;
  transform: translate(0%, -20%);
  transform: rotate(-15deg) translate(100%, 15%); 
  left: 85%;
  animation-name: Snowboarding;
  animation-duration: 4s;
}
/* Keyframes */

@keyframes Snowboarding {
  0% { 
    transform: rotate(-5deg) translate(0%, -20%);
    left: 0%;
  }
  100% {  
    transform: rotate(-15deg) translate(100%, 15%); 
    left: 85%;
  }
}

/* Footer */

footer {
  background: #101010;
  padding: 50px 20px 20px;
  display: flex;
  flex-direction: column;
}
footer * {
  color: #fff;
}
footer .footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
footer .header-title {
  margin: 0 0 0 20px;
  width: 25%;
}
footer .header-title .title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .header-title .title-text > span {
  margin: 3px 0;
}
footer .copyright {
  font-size: 16px;
  margin: 50px 0 0 auto;
}
footer nav {
  width: 50%;
  display: flex;
  padding-left: 5%;
}
footer nav ul {
  display: flex;
  flex-direction: column;
}
footer nav ul li,
footer .links-wrapper > div {
  margin: 7px 0;
}
footer nav ul li > a {
  text-decoration: none;
}
footer .links-wrapper {
  flex-direction: column;
  align-items: flex-start;
}
footer .links-wrapper .search-panel {
  position: relative;
  margin-left: 0;
  padding-left: 0;
}
footer .links-wrapper .search-panel form {
  width: 100%;
}
footer .links-wrapper .search-panel .icon {
  left: 0;
}
footer .links-wrapper .search-panel form input {
  background-color: transparent;
  color: #fff;
  width: 100%;
}